@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  padding: 40px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* start */

.header {
  position: relative;
  padding: 34px 60px 27px 60px;

  box-sizing: border-box;

  background-color: #F7E397;
}

.header__logo {
  position: absolute;
  top: -19px;
  left: 59px;

  width: 163px;
  height: 35px;
}

.header__user-nav {
  display: flex;
  align-items: center;
}

.header__search {
  display: flex;
}

.header__search-bar {
  padding: 0 37px;

  display: block;
  box-sizing: border-box;
  width: 356px;
  height: 49px;

  font-size: 15px;
  font-weight: 300;

  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background-color: #F7E397;
  background: url("../img/search-icon.svg") no-repeat 2px 50%;
}

.header__search-bar:focus {
  border-color: #000000;
}

.header__search button {
  visibility: hidden;
  width: 85px;
  height: 49px;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;

  border: 2px solid #000000;
  background-color: #F7E397;
}

.header__search-bar:focus + button {
  visibility: visible;
}

.header__search-bar + button:hover {
  visibility: visible;
  color: #ffffff;
  background-color: #000000;

  transition: 300ms ease-out;
}

.header__search-bar + button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header__user-nav {
  margin-bottom: 30px;
}

.header__user-nav a {
  padding-left: 25px;
  transition: opacity 300ms ease-out;
}

.header a:hover {
  opacity: 0.6;
}

.header a:active {
  opacity: 0.3;
}

.header__login {
  margin-left: 100px;
  margin-right: auto;
  background: url("../img/login-icon.svg") no-repeat 0 50%;
}

.header__compare {
  margin-right: 39px;
  background: url("../img/compare-icon.svg") no-repeat 5px 50%;
}

.header__cart {
  background: url("../img/cart-icon.svg") no-repeat 3px 50%;
}

.header__main-menu {
  padding: 0;

  display: flex;
  align-items: flex-start;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  list-style: none;
}

.header__main-menu > li:nth-child(1) {
  margin-right: 293px;
}

.header__main-menu > li:nth-child(2) {
  margin-right: 35px;
}

.header__main-menu > li:nth-child(3) {
  margin-right: auto;
}

.header__catalog-btn > a {
  display: flex;
  align-items: center;
}

.header__catalog-btn > a::after {
  margin-left: 12px;

  display: block;
  width: 16px;
  height: 16px;
  content: "";

  left: 231px;
  top: 2px;

  background-image: url("../img/open-catalog-icon.png");
}

.header__catalog-btn:hover > a::after {
  transform: rotate(135deg);
  transition: 0.5s;
}

.header__catalog-btn:hover .header__catalog {
  display: flex;
}

.header__catalog {
  position: absolute;
  padding: 18px 60px 38px;
  left: 0;

  display: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #F7E397;

  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-transform: none;

  z-index: 10;
}

.header__catalog ul {
  padding: 0;
  margin-right: 67px;
  list-style: none;
}

.slider {
  position: relative;

  background: linear-gradient(to bottom, #F7E397 120px, #ffffff 120px);
}

.slider__slide {
  display: none;
}

.slider__slide--active {
  display: flex;
  justify-content: space-between;
}

.slider__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 500px;
}

.slider__desc {
  width: 560px;
  justify-content: space-between;
}

.slider__number {
  position: absolute;
  right: 47px;
  top: -188px;

  font-family: Gilroy;
  font-size: 179px;
  font-weight: 800;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;

  user-select: none;
}

.slider__slogan {
  position: relative;

  margin: 86px 0 0 0;

  font-family: Gilroy;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.47px;
  text-align: left;
}

.slider__slogan::before {
  position: absolute;
  top: -42px;

  display: block;
  content: "";
  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider__text {
  margin: 20px 0 44px 0;
  width: 485px;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.slider__button {
  margin: 0 0 50px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 40px;

  font-family: Gilroy;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;

  background: linear-gradient(to bottom, #ffffff 16px, #f0c52e 16px, #f0c52e 24px, #ffffff 24px);
}

.slider__button:hover {
  transition: 300ms ease-out;
  background: #F1C62A;
}

.slider__button:active,
 .slider__button:focus {
  color: rgba(0, 0, 0, 0.3);
  background: #F1C62A;
}

.slider__stats {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 600px;
}

.slider__stats li {
  margin: 0 77px 0 0;
}

.slider__stats-value {
  margin: 0 0 8px 0;

  font-family: Gilroy;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
}

.slider__stats-stat {
  margin: 0;

  font-family: OpenSans;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider__controls {
  position: absolute;
  top: 309px;
  right: 83px;
  padding: 0;

  display: flex;
  flex-direction: reverse;
  list-style: none;
}

.slider__switcher {
  padding: 0;
  margin: 0 0 0 21px;

  width: 12px;
  height: 12px;
  box-sizing: border-box;

  outline: none;
  border: 1px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.slider__switcher--active {
  position: relative;
}

.slider__switcher--active::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  content: "";
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50%;
}
