@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "OpenSans", "Arial", sans-serif;
  padding: 40px 0 0 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
	position: absolute;
	visibility: hidden;
  width: 1px;
  height: 1px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  outline: none;
  z-index: 5;
}

.button::before {
  position: absolute;
  margin-top: -4px;
  top: 50%;
  left: 0;

  content: "";
  width: 100%;
  height: 8px;

  background-color: #f0c52e;

  transition: 300ms ease-out;
  z-index: -1;
}

.button:hover::before,
.button:focus::before {
  transform: scaleY(5);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

/* start */

.header {
  position: relative;
  padding: 34px 60px 27px 60px;

  box-sizing: border-box;

  background-color: #F7E397;
}

.header__logo {
  position: absolute;
  top: -19px;
  left: 59px;

  width: 163px;
  height: 35px;
}

.header__user-nav {
  margin-bottom: 20px;
  padding-top: 10px;

  display: none;
  min-width: 500px;
}

.header__user-nav--active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__heading {
  display: flex;
  justify-content: space-between;
}

.header__search {
  display: flex;
}

.header__search-bar {
  padding: 0 37px;

  display: block;
  box-sizing: border-box;
  width: 356px;
  height: 49px;

  font-size: 15px;
  font-weight: 300;

  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background-color: #F7E397;
  background: url("../img/search-icon.svg") no-repeat 2px 50%;
}

.header__search-bar:focus {
  border-color: #000000;
}

.header__search button {
  visibility: hidden;
  width: 85px;
  height: 49px;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;

  border: 2px solid #000000;
  background-color: #F7E397;

  transition: color, background-color 300ms ease-out;
}

.header__search-bar:focus + button {
  visibility: visible;
}

.header__search-bar + button:hover {
  visibility: visible;
  color: #ffffff;
  background-color: #000000;
}

.header__search-bar + button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header__user-nav a {
  padding-left: 25px;
}

.header a {
  transition: 300ms ease-out;
}

.header a:hover {
  opacity: 0.6;
}

.header a:active {
  opacity: 0.3;
}

.header__login {
  background: url("../img/login-icon.svg") no-repeat 0 50%;
}

.header__user-nav .header__logout {
  margin-left: 20px;
  margin-right: 30px;
  padding: 0;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);
}

.header__compare {
  margin-left: auto;
  background: url("../img/compare-icon.svg") no-repeat 5px 50%;
}

.header__cart {
  margin-left: 39px;
  background: url("../img/cart-icon.svg") no-repeat 3px 50%;
}

.header__main-menu {
  padding: 0;

  display: flex;
  align-items: flex-start;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;

  list-style: none;
}

.header__main-menu > li:nth-child(1) {
  margin-right: 293px;
}

.header__main-menu > li:nth-child(2) {
  margin-right: 35px;
}

.header__main-menu > li:nth-child(3) {
  margin-right: auto;
}

.header__catalog-btn > a {
  display: flex;
  align-items: center;
}

.header__catalog-btn > a::after {
  margin-left: 12px;

  display: block;
  width: 16px;
  height: 16px;
  content: "";

  left: 231px;
  top: 2px;

  background-image: url("../img/open-catalog-icon.png");
  transition: 0.5s;
}

.header__catalog-btn:hover > a::after {
  transform: rotate(135deg);
}

.header__catalog-btn:hover .header__catalog {
  display: flex;
}

.header__catalog {
  position: absolute;
  padding: 18px 60px 38px;
  left: 0;

  display: none;
  width: 100%;
  box-sizing: border-box;
  background-color: #F7E397;

  font-size: 15px;
  font-weight: 300;
  line-height: 2.4;
  letter-spacing: 0.15px;
  text-transform: none;

  z-index: 10;
}

.header__catalog ul {
  padding: 0;
  margin-right: 67px;
  list-style: none;
}

.slider {
  position: relative;
  margin-bottom: 83px;

  background: linear-gradient(to bottom, #F7E397 120px, #ffffff 120px);
}

.slider__slide {
  display: none;
}

.slider__slide--active {
  display: flex;
  justify-content: space-between;
}

.slider__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 560px;
  height: 500px;
}

.slider__img img {
  object-fit: contain;
}

.slider__desc {
  width: 560px;
  justify-content: space-between;
}

.slider__number {
  position: absolute;
  right: 47px;
  top: -188px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: 1.79px;
  color: #ffffff;

  user-select: none;
}

.slider__slogan {
  position: relative;

  margin: 89px 0 0 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.19;
  letter-spacing: 0.47px;
  text-align: left;
}

.slider__slogan::before {
  position: absolute;
  top: -42px;

  display: block;
  content: "";
  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.slider__text {
  margin: 20px 0 42px 0;
  width: 485px;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.slider__button {
  margin: 0 0 50px 0;

  width: 220px;
  height: 40px;
}

.slider__stats {
  padding: 0;
  margin-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  max-width: 600px;
}

.slider__stats li {
  margin: 0 77px 0 0;
}

.slider__stats li:last-child {
  margin: 0;
}

.slider__stats-value {
  margin: 0 0 8px 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
  letter-spacing: 0.36px;
}

.slider__stats-stat {
  margin: 0;

  font-size: 13px;
  font-weight: 300;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: #464646;
}

.slider__controls {
  position: absolute;
  top: 309px;
  right: 83px;
  padding: 0;

  display: flex;
  flex-direction: reverse;
  list-style: none;
}

.slider__switcher {
  padding: 0;
  margin: 0 0 0 21px;

  width: 12px;
  height: 12px;
  box-sizing: border-box;

  outline: none;
  border: 1px solid #000000;
  border-radius: 50%;

  cursor: pointer;
}

.slider__switcher--active {
  position: relative;
}

.slider__switcher--active::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  content: "";
  width: 5px;
  height: 5px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 50%;
}

.products {
  margin-bottom: 123px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  list-style: none;
}

.products li {
  width: 160px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.products li:nth-child(6n) {
  margin-right: 0;
}

.products__item {
  display: block;
  outline: none;
}

.products__img-wrapper,
.products__title {
  transition: 300ms ease-out;
}

.products__item:hover .products__img-wrapper,
.products__item:focus .products__img-wrapper {
  background-color: #f0c52e;
}

.products__item:active .products__title,
.products__item:focus .products__title {
  opacity: 0.3;
}

.products__item:active img,
.products__item:focus img {
  opacity: 0.3;
}

.products__img-wrapper {
  margin-bottom: 35px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  box-sizing: border-box;

  background-color: #F7E397;
}

.products__padded-img {
  padding-top: 40px;
}

.products__img-wrapper img {
  object-fit: contain;
}

.products__title {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 0.18px;
}

.service {
  margin-bottom: 94px;

  min-width: 1160px;
  height: 288px;
  background-color: #e5e5e5;
}

.service__wrapper {
  position: relative;
  top: -100px;

  display: flex;
  height: 319px;
}

.service__controls {
  padding-top: 80px;

  border-right: 7px solid #000000;
}

.service__button {
  margin: 0 117px 24px 0;
  padding: 0;

  width: 160px;
  height: 40px;
}

.service__button:active,
.service__button--active {
  color: #f7e184;
  background-color: #000000;
}

.service__wrapper .button:active::before,
.service__button--active::before {
  display: none;
}

.service__button:active::after,
.service__button--active::after {
  position: absolute;
  left: 160px;

  content: "";
  width: 117px;
  height: 40px;

  background: #000000;
}

.service__content {
  padding: 35px 118px;
  width: 575px;

  display: none;
}

.service__content--active {
  display: block;
}

.service__title {
  margin-bottom: 32px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.service__text {
  width: 440px;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: #464646;
}

.service__content1 {
  background: url("../img/delivery.svg") no-repeat 100% 55%;
}

.service__content2 {
  background: url("../img/warranty.svg") no-repeat 100% 50%;
}

.service__content3 {
  background: url("../img/credit.svg") no-repeat 100% 50%;
}

.partners {
  margin-bottom: 80px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.partners li {
  margin-right: 40px;
  margin-bottom: 20px;
}

.partners li:nth-child(4n) {
  margin-right: 0;
}

.partners__item {
  display: block;
  width: 260px;
  height: 100px;
  outline: none;
}

.partners__item img {
  object-fit: contain;
  transition: 300ms ease-out;
}

.partners__item:hover .partners__hidden,
.partners__item:focus .partners__hidden {
  opacity: 1;
  z-index: 10;
}

.partners__hidden {
  position: absolute;
  opacity: 0;
}

.company {
  margin-bottom: 82px;

  display: flex;
}

.company__about {
  margin-right: 98px;

  width: 500px;
}

.company__title::before {
  position: relative;
  top: -46px;
  left: 1px;

  display: block;
  content: "";
  width: 80px;
  height: 7px;

  background-color: #000000;
}

.company__title {
  margin-bottom: 43px;
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 1.02;
  letter-spacing: 0.47px;
}

.company__text {
  margin: 0 0 30px 0;
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #464646;
}

.company__delivery-partners {
  margin: 65px 0 55px 0;
  padding: 0 0 0 20px;

  list-style: none;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 2.5;
}

.company__delivery-partners li::before{
  position: absolute;
  left: -18px;
  top: 16px;

  display: block;
  content: "";
  width: 8px;
  height: 8px;
  box-sizing: border-box;

  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.company__delivery-partners li {
  position: relative;
  padding-left: 17px;
}

.company__button {
  width: 260px;
  height: 40px;
}

.company__contact {
  width: 560px;
}

.company__contact .company__text {
  margin-bottom: 39px;
}

.company__map {
  margin: 0 0 69px 0;

  display: block;
  width: 560px;
  height: 222px;
  background-image: url("../img/map.jpg");
}

.footer {
  padding: 65px 0;

  min-width: 1160px;

  background-color: #464646;
}

.footer__content {
  position: relative;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__heading {
  position: relative;

  display: flex;
  justify-content: space-between;
}

.footer__logo {
  display: block;
  width: 163px;
  height: 35px;

  transition: 300ms ease-out;
}

.footer__logo:hover {
  opacity: 0.6;
}

.footer__logo:focus,
.footer__logo:active {
  opacity: 0.3;
}

.footer__text {
  width: 250px;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  color: #ffffff;
}

.footer__heading::after {
  position: absolute;
  bottom: -129px;

  display: block;
  content: "";
  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.footer__links {
  margin: 7px 0 0 0;
}

.footer__service {
  margin-bottom: 65px;
  padding: 0;

  display: flex;
  justify-content: center;
  list-style: none;
}

.footer__service a {
  margin: 0 16px;

  display: block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: #ffffff;

  transition: 300ms ease-out;
}

.footer__service a:hover {
  opacity: 0.6;
}

.footer__service a:active,
.footer__service a:focus {
  opacity: 0.3;
}

.footer__social {
  padding: 0;

  display: flex;
  justify-content: center;

  list-style: none;
}

.footer__social a {
  margin: 0 11px;

  outline: none;
  opacity: 0.3;

  transition: 300ms ease-out;
}

.footer__social a:hover {
  opacity: 0.6;
}

.footer__social a:active,
.footer__social a:focus {
  opacity: 0.1;
}

.footer__user-nav {
  padding: 0;
  margin: 0 0 20px 0;

  display: none;
}

.footer__user-nav--active {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.footer__user-nav .footer__logout {
  margin-left: 20px;
  padding: 0;

  font-size: 15px;
  font-weight: 300;
  line-height: 2;
  letter-spacing: 0.15px;
  color: rgba(255, 255, 255, 0.3);
}

.footer__user-nav a {
  position: relative;
  margin-left: 38px;
  padding-left: 25px;


  display: block;

  color: rgba(255, 255, 255, 0.7);
  transition: 300ms ease-out;
}

.footer__user-nav a:hover {
   color: #ffffff;
}

.footer__user-nav a:hover::before {
   opacity: 0.6;
   color: #ffffff;
}

.footer__user-nav a:active,
.footer__user-nav a:focus {
   color: rgba(255, 255, 255, 0.3);
}

.footer__user-nav a:active::before,
.footer__user-nav a:focus::before {
   opacity: 0.3;
}

.footer__login::before {
  position: absolute;
  left: 0;
  top: 9px;

  content: "";
  width: 13px;
  height: 12px;

  background: url("../img/yellowlogin-icon.png");
}

.footer__compare::before {
  position: absolute;
  left: 6px;
  top: 10px;

  content: "";
  width: 10px;
  height: 10px;

  background: url("../img/yellowcompare-icon.png");
}

.footer__cart::before {
  position: absolute;
  left: 3px;
  top: 8px;

  content: "";
  width: 12px;
  height: 12px;

  background: url("../img/yellowcart-icon.png");
}

.footer__tel {
  text-align: right;
}

.footer__academy-logo {
  position: absolute;
  bottom: 15px;
  right: 0;

  transition: 300ms ease-out;
}

.footer__academy-logo:hover {
  opacity: 0.6;
}

.footer__academy-logo:focus,
.footer__academy-logo:active {
  opacity: 0.3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 90px 100px 0;

  display: none;
  width: 960px;
  height: 553px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  background-color: #ffffff;

  animation: fromside 300ms;
  z-index: 10;
}

@keyframes fromside {
  from {
    opacity: 0.3;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal--active {
  display: block;
}

.modal__close,
.modal-map__close {
  position: absolute;
  right: 22px;
  top: 22px;

  background-color: transparent;
  border: none;
  outline: none;

  transition: 300ms ease-out;
  z-index: 20;
}

.modal__close:hover,
.modal-map__close:hover {
  cursor: pointer;
  opacity: 0.5;
}

.modal__close:focus,
.modal__close:active,
.modal-map__close:focus,
.modal-map__close:active {
  opacity: 0.3;
}

.modal__title {
  margin: 0 0 37px;

  font-size: 45px;
  font-weight: 500;
  line-height: 1;
}

.modal__field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal__field label {
  margin-bottom: 10px;

  display: block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.33;
}

.modal__input {
  padding: 20px;
  margin-bottom: 32px;

  width: 360px;
  height: 50px;
  box-sizing: border-box;

  font-size: 14px;
  line-height: 1.29;
  color: rgba(70, 70, 70, 0.2);

  outline: none;
  border: 3px solid transparent;
  background-color: #f2f2f2;

  transition: 300ms ease-out;
}

.modal__input:not(:placeholder-shown):invalid {
  background-color: #f6dada;
}

.modal__field .modal__input:hover {
  background-color: #eaeaea;
}

.modal__field .modal__input:focus {
  opacity: 1;
  color: #464646;
  border: 3px solid #f0c52e;
  background-color: #ffffff;
}

.modal__field textarea {
  width: 760px;
  height: 156px;
  padding: 20px;
  resize: none;

  margin-bottom: 30px;
}

.modal__button {
  width: 220px;

  outline: none;
  border: none;
  cursor: pointer;
}

.modal-map {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  display: none;
  width: 960px;
  height: 559px;
  box-sizing: border-box;
  box-shadow: 0px 10px 20px 0 rgba(4, 6, 6, 0.2);
  background-color: #ebebeb;
  background-image: url("../img/map-big.jpg");

  animation: fromside 300ms;
  z-index: 10;
}

.modal-map--active {
  display: block;
}

.modal-map__close {
  position: absolute;
  right: 5px;
  top: 45px;

  background-color: transparent;
  border: none;
  outline: none;

  z-index: 20;
}
